# Frontend
VITE_API_BASE_URL=your_backend_website_deployment_link
VITE_WINDY_API_KEY=your_windy_api_key_here

# Backend
CWA_API_KEY=your_cwa_api_key_here
CWA_OBSERVATION_DATASET_ID=O-A0003-001
CWA_AUTO_STATION_DATASET_ID=O-A0001-001
CWA_RAINFALL_DATASET_ID=O-A0002-001
CWA_SUNRISE_DATASET_ID=A-B0062-001
CWA_WARNING_DATASET_ID=W-C0033-001
CWA_WARNING_AREA_DATASET_ID=W-C0033-006
CWA_EARTHQUAKE_REPORT_DATASET_ID=E-A0015-001
CWA_EARTHQUAKE_INTENSITY_DATASET_ID=E-A0016-001
MOENV_API_KEY=your_moenv_api_key_here
MOENV_PM25_DATASET_ID=aqx_p_432
DATABASE_PATH=data/weather.db
RAW_DATA_DIR=data/raw
